name: Download Artifact from repo-a
 
on:

  workflow_dispatch:

  schedule:

    - cron: "*/30 * * * *"
 
jobs:

  download:

    runs-on: [self-hosted, linux]
 
    steps:


      - name: Fetch artifact list

        run: |

          curl -s \

            -H "Authorization: Bearer ${{ secrets.LIUDONGDONG7397 }}" \
            -H "Accept: application/vnd.github+json" \
             https://api.github.com/repos/liushiyou006/aliyun_docker_sync/actions/artifacts \
            > artifacts.json
 
      - name: Get latest artifact url

        run: |

          ART_URL=$(jq -r '.artifacts[0].archive_download_url' artifacts.json)

          echo "ART_URL=$ART_URL" >> $GITHUB_ENV
 
      - name: Download artifact

        run: |

          mkdir -p /home/asus/actions-runner/data/from-repo-a

          curl -L \

            -H "Authorization: Bearer ${{ secrets.GH_TOKEN_A }}" \

            -o /home/asus/actions-runner/data/from-repo-a/artifact.zip \

            $ART_URL
 
      - name: Unzip

        run: |

          unzip -o /home/asus/actions-runner/data/from-repo-a/artifact.zip -d /home/asus/actions-runner/data/from-repo-a

          ls -lh /home/asus/actions-runner/data/from-repo-a

 
